.translator{
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px black;
    transform: translate(100%,20%);
    background-color: rgb(56, 118, 151);
}

h1{
    text-shadow: 0px 0px 3px rgb(233, 29, 29);
}

.textarea{
    height: 80px;
    margin-bottom: 10px;
}

.dropdown{
    margin-bottom: 10px;
}

.button{
    width: 50%;
    margin-left: 20%;
    height: 40px;
    background-color: rgb(12, 186, 76);
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.heading{
    margin-bottom: -5px;
    color: white;
}
.text{
    color: chartreuse;
}